@model PaginatedList<StackOverload.Models.Question>

<div class="text-center">
    <h1 class="display-4">Welcome to StackOverload</h1>

    <div>
        <a asp-controller="Home" asp-action="PostQuestion">Post A Question</a> |
        <a asp-controller="Home" asp-action="AdminIndex">Admin View</a>
    </div>
</div>

<h3>Recent Questions</h3>

<div>
    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="date" value="date"/>
        <button type="submit">
            By Date
        </button>
    </form>

    <form asp-controller="Home" asp-action="Index" method="get">
        <input type="hidden" name="count" value="count"/>
        <button type="submit">
            # Of Answers
        </button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Answers</th>
            <th>User</th>
            <th>Date Posted</th>
            <th></th>
            <th></th>
            <th></th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Answers.Count</td>
            <td>@item.User.UserName</td>
            <td>@item.PostDate</td>
            <td>
                <a asp-action="PostAnswer" asp-route-userName="@ViewBag.CurrentUserName" asp-route-questionId="@item.Id">Answer This Question</a> |
                <a asp-action="QuestionDetails" asp-route-questionId="@item.Id">Question Details</a> 
            </td>

            @if(item.TagQuestions != null)
            {
                @foreach(var tag in item.TagQuestions)
                {
                   <td> <a asp-action="TagSearch" asp-route-id="@tag.Tag.Id">@tag.Tag.Name</a> </td> 
                }
            }
        </tr>
    }
    </tbody>
</table>


@*Button Nav*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; 
}

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)"
class ="btn btn-default @prevDisabled">
Previous
</a>

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)"
class ="btn btn-default @nextDisabled">
Next
</a>